*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.error{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: "Outfit",sans-serif;
}

.errormain{
    width: 50%;
    text-align: center;
    margin-top: 20rem;
    line-height: 1.9rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn{
    margin-top: 90px;
    width: 200px;
    background-color: #1A5FFF;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}