@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: #171923;
  width: 100%;
  height: 100%;
}

/* menu start here */
.menu {
  width: 80%;
  height: 70px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  size: 1rem;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.twobutton {
  height: 72px;
  position: relative;
  top: -75px;
}

.twobutton #btn {
  /* position: absolute; */
  width: 69px;
  background-color: transparent;
  border-color: #7ea6ff;
  border-radius: 5px;
  color: #7ea6ff;
  padding: 6px 8px;
  margin-right: 14px;
  border: 1px solid;
  cursor: pointer;
}

/* #btn2{
    position: absolute;
    padding: 7px 9px ;
    background-color: #1A5FFF;
    color: #FFFFFF;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
} */
/* menu end here */

/* ChatBot start here */
.chatbot_main {
  padding: 0%;
  width: 100%;
  font-family: "Outfit", sans-serif;
}

/* chatbot_top start here */
.chatbot_main .chatbot_top {
  display: flex;
  flex-direction: row;
  border-color: aliceblue 5px solid;
}

/* chatbot-left-img */
.chatbot_left {
  /* display: flex; */
  width: 22%;
  /* background-color: yellow; */
}

.chatbot_left img {
  margin-top: 40px;
  width: 100%;
}

.chatbot_center {
  margin: 0 29px;
  /* background-color: #4B83FF; */
  text-align: center;
  padding: 0 9px 0 0;
}

.chatbot_center h1 {
  text-align: center;
  display: inline-block;
  background: linear-gradient(to right, #4b83ff 0%, #b794f4 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.8rem;
  font-weight: 700;
  padding-top: 60px;
}

.chatbot_center p {
  text-align: center;
  color: #ffffffeb;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  padding-top: 24px;
}

#chatbot_center_btn {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  padding: 17px 27px;
  background-color: #1a5fff;
  color: #ffffff;
  border-radius: 5px;
  margin: 25px 0 0 20px;
  border-style: none;
}

.chatbot_right img {
  width: 83%;
  /* background-color: #1A5FFF; */
}
/* chatbot_top end here */

/* chatbot_down start here */
.chatbot_down {
  display: flex;
  justify-content: center;
  gap: 155px;
  margin-top: 83px;
  margin-bottom: 260px;
  /* border: 1px solid rebeccapurple; */
}

.chatbot_down img {
  z-index: 1;
  position: absolute;
  top: 60;
  width: 82%;
}

.yellow_circle {
  height: 570px;
  width: 430px;
  background-color: #e67200;
  filter: blur(11px);
  border-radius: 100%;
}

.blue_circle {
  height: 600px;
  width: 550px;
  background-color: #0042da;
  filter: blur(11px);
  border-radius: 100%;
}
/* chatbot_down end here */
/* ChatBot end here */

/* school form start here */
.schoolform {
  width: 85%;
  margin: 0 auto;
  margin-top: 14px;
  color: #ffffff;
}

.schoolform h1 {
  font-family: "Outfit", sans-serif;
  font-size: 52px;
  text-align: center;
  font-weight: 700;
}

.schoolform_down {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.schoolform p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #a0aec0;
  margin-top: 18px;
  word-spacing: 0px;
  letter-spacing: 0.7px;
  line-height: 1.5rem;
}

/* schoolform_down_left start here */
.schoolform_down_left {
  width: 45%;
  border-radius: 6px;
}

.wronglogo_div {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

/* schoolform start here */
.schoolform_form {
  border: #30323a 1px solid;
  border-radius: 6px;
  padding: 16px;
  color: #ffffff;
}

.schoolform_form form {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #e7e7e7;
}

.name {
  padding: 7px 0;
  font-size: 16px;
}

.name input {
  margin: 5px 0;
  padding: 12px;
  width: 460px;
  background-color: transparent;
  border: #30323a 1px solid;
  border-radius: 6px;
  color: #e7e7e7;
}

.email {
  padding: 7px 0;
}

.email input {
  margin: 5px 0;
  padding: 12px;
  width: 460px;
  background-color: transparent;
  border: #30323a 1px solid;
  border-radius: 6px;
  color: #e7e7e7;
}

.schoolform_checkbox {
  padding: 7px 0;
}

input[type="checkbox"] + label::before {
  display: block;
  margin: 0.1em;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
  margin: 0.2em;
}

input[type="checkbox"] + label::before {
  content: "\2714";
  margin-right: 6px;
  border: 0.1em solid #30323a;
  border-radius: 2px;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: 0.1em;
  padding-bottom: 0.2em;
  padding-left: 0.1em;
  vertical-align: bottom;
  color: transparent;
}
input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #e7e7e7;
}

.comment {
  padding: 12px 0;
  font-size: 16px;
}

.comment textarea {
  color: #e7e7e7;
  margin: 5px 0;
  padding: 8px;
  height: 124px;
  width: 460px;
  background-color: transparent;
  border: #30323a 1px solid;
  border-radius: 6px;
  resize: none;
}

/* schoolform_down_right start here */
.schoolform_down_right {
  width: 48%;
  border-radius: 6px;
  z-index: -1;
}

.rightlogo_div {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.tryitout_logo {
  position: absolute;
  z-index: 1;
  right: 70px;
  top: -10px;
}

.zindex {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: -20px;
}
/* school form end here */
/* two image div start here */
.twoimage_div_main {
  padding-top: 12rem;
  width: 100%;
}

/* two image div up start here */
.twoimage_div_up {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 0rem;
}

.twoimage_div_up-left img {
  width: 90%;
}

.twoimage_div_up-right {
  color: #ffffff;
  /* background-color: yellow; */
}

.twoimage_div_up-right h1 {
  font-size: 40px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin-top: 36px;
}

.twoimage_div_up-right p {
  color: #a0aec0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  margin-top: 29px;
}

/* two image div up-left start here */
.twoimage_div_down {
  display: flex;
  color: #ffffff;
  width: 70%;
  margin: 9rem auto;
  gap: 3rem;
}

.twoimage_div_down img {
  width: 95%;
}

/* twoimage_div_down-left start here*/
.twoimage_div_down-left h1 {
  font-family: "Outft", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 76px;
}

.twoimage_div_down-left p {
  color: #a0aec0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  margin-top: 29px;
}
/* two image div end here */

/* logobundle start here */
.logobundle {
  margin: 0 auto;
  width: 100%;
  /* padding-left: 100px;
    padding-bottom: 90px; */
}

.logobundle img {
  width: 98%;
}

.logobundle_para {
  padding-top: 50px;
  padding-left: 120px;
  color: #ffffff;
}

.logobundle_para h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 63px;
}

.logobundle_para p {
  color: #a0aec0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
/* logobundle end here */

/* realtime start here */
.realtime {
  width: 100%;
  color: #ffffff;
  margin-top: 200px;
  margin-bottom: 50px;
}

.realtime_contain {
  margin: 0 auto;
  width: 65%;
  text-align: center;
}

.realtime_contain h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 7rem;
}

.realtime_contain p {
  font-family: "Opens sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #a0aec0;
}

.realtime_contain span {
  font-family: "Opens sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #a0aec0;
}

/* realtime image start here */
.realtime_image {
  width: 43%;
  margin: 0 auto;
  border: 1px solid #30323a;
  border-radius: 6px;
  margin-top: 68px;
}
/* realtime end here */

/* features start here */
.features {
  width: 100%;
  margin-top: 11rem;
}

.features_contain {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.features_contain h1 {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.features_contain p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 46px;
  color: #718096;
  margin-bottom: 6rem;
}

/* feature-box start here */
.features_box {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 95%;
}

.features_box h6 {
  padding-bottom: 10px;
}

.features_box p {
  text-align: center;
  color: #718096;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6em;
}

/* features-top  */
.features_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* features-bottom */
.features_bottom {
  display: flex;
  justify-content: space-between;
}

.features_div {
  background-color: #1a202c;
  width: 320px;
  height: 160px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 6px;
}

.features_div img {
  position: relative;
  bottom: 23px;
}

.features_div_contain {
  position: absolute;
  right: 37px;
  top: 39px;
}

.features_box .features_titles {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.features_div_contain p {
  margin-top: 10px;
}
/* features end here */

/* brand-logo start from here */
.brand_logo {
  width: 100%;
  margin-bottom: 170px;
}

.brand_logo_main {
  margin: 0 auto;
  width: 80%;
}

.brand_logo_main p {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
  padding-bottom: 30px;
  color: #ffffff;
}
/* brand-logo end from here */

/* last-div start here */
.last_div {
  background-color: #171f2a;
  color: #ffffff;
  padding-bottom: 15rem;
}

.last_div_main {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.last_div_main_center {
  margin-top: 22rem;
  width: 60%;
}

.last_div_main_center h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  margin-bottom: 18px;
}

.last_div_main_center p {
  margin-top: 20px;
  font-size: 16px;
  color: #a0aec0;
  font-weight: 400;
  font-family: "Open sans", sans-serif;
}

.last_div_main_right img {
  position: relative;
  top: 225px;
}

#last_div_id {
  color: #a0aec0;
  font-weight: 700;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
}

#last_btn {
  padding: 15px;
  /* font-weight: 600; */
  font-family: "Opens sans", sans-serif;
  font-size: 16px;
  border-radius: 6px;
}
/* last-div end here */

/* footer start here */
.footer {
  background-color: #171923;
  color: #ffffff;
}

.footer_main {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 60px 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p span #made {
  text-decoration: none;
}

.footer_main p {
  line-height: 1.6em;
  text-decoration: underline;
  cursor: pointer;
}

/* footer end here */
